{% extends '::base.html.twig' %}

{% block body %}
<div ng-controller="MangasCtrl">
  <ul>
    <li ng-repeat="manga in mangas">
      {[{ manga.name }]}
      <p>{[{ manga.id }]}</p>
    </li>
  </ul>
</div>
{% endblock %}
