{% extends '::base.html.twig' %}

{% block body %}
<div ng-controller="MangasCtrl">
  <ul>
    <li ng-repeat="manga in mangas">
      <a href="#/mangas/{[{ manga.id }]}">
        <img ng-src="{[{ manga.image }]}">
        {[{ manga.name }]}
      </a>
    </li>
  </ul>
</div>
{% endblock %}
